.header-with-icon {
	column-gap: 0.5em;
	flex-direction: row-reverse;
	justify-content: start;
	.header-icon-wrapper {
		height: calc(var(--line-height-tight) * 1em);
		display: flex;
		align-items: end;
		svg {
			display: block;
		}
	}
}